<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Avatar Component</title>
        <link rel="stylesheet" href="../elixir.css">
    </head>
    <body>
        <img src="/Components/images/avatar-2.jpg" alt="Extra Large Size Avatar" class="avatar avatar-xl square" />
        <img src="/Components/images/avatar-2.jpg" alt="Large Size Avatar" class="avatar avatar-lg square" />
        <img src="/Components/images/avatar-2.jpg" alt="Medium Size Avatar" class="avatar avatar-md square" />
        <img src="/Components/images/avatar-2.jpg" alt="Small Size Avatar" class="avatar avatar-sm square" />
        <img src="/Components/images/avatar-2.jpg" alt="Extra Small Size Avatar" class="avatar avatar-xs square" />

        <br>
        <br>

        <img src="/Components/images/avatar-1.jpg" alt="Extra Large Size Avatar" class="avatar avatar-xl" />
        <img src="/Components/images/avatar-1.jpg" alt="Large Size Avatar" class="avatar avatar-lg" />
        <img src="/Components/images/avatar-1.jpg" alt="Medium Size Avatar" class="avatar avatar-md" />
        <img src="/Components/images/avatar-1.jpg" alt="Small Size Avatar" class="avatar avatar-sm" />
        <img src="/Components/images/avatar-1.jpg" alt="Extra Small Size Avatar" class="avatar avatar-xs" />
        
        <div class="avatar avatar-xl text-avatar" role="img">
            AB
        </div>
        <div class="avatar avatar-lg text-avatar" role="img">
            AB
        </div>
        <div class="avatar avatar-md text-avatar" role="img">
            AB
        </div>
        <div class="avatar avatar-sm text-avatar" role="img">
            AB
        </div>
        <div class="avatar avatar-xs text-avatar" role="img">
            AB
        </div>
    </body>
</html>