.badge-container {
    width: max-content;
    position: relative;
}

.badge-status {
    position: absolute;
    position: absolute;
    content: '';
    border-radius: var(--br-50);
    height: 1.25rem;
    width: 1.25rem;
    bottom: 0.25rem;
    right: 0.25rem;
    -webkit-border-radius: var(--br-50);
    -moz-border-radius: var(--br-50);
    -ms-border-radius: var(--br-50);
    -o-border-radius: var(--br-50);
    border: 2px solid var(--bg-color);
}

.avatar.avatar-xl + .badge-status {
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0.25rem;
    right: 0.25rem;
}

.avatar.avatar-lg + .badge-status {
    height: 1.25rem;
    width: 1.25rem;
    bottom: 0.15rem;
    right: 0.15rem;
}

.avatar.avatar-md + .badge-status {
    height: 1rem;
    width: 1rem;
    bottom: 0.12rem;
    right: 0.12rem;
}

.avatar.avatar-sm + .badge-status {
    height: 0.75rem;
    width: 0.75rem;
    bottom: 0.075rem;
    right: 0.075rem;
}

.avatar.avatar-xs + .badge-status {
    height: 0.5rem;
    width: 0.5rem;
    bottom: 0.05rem;
    right: 0.05rem;
    border-width: 0.1rem;
}

.avatar.avatar-xl.avatar-square + .badge-status {
    bottom: -0.35rem;
    right: -0.35rem;
}

.avatar.avatar-lg.avatar-square + .badge-status {
    bottom: -0.35rem;
    right: -0.35rem;
}

.avatar.avatar-md.avatar-square + .badge-status {
    bottom: -0.25rem;
    right: -0.25rem;
}

.avatar.avatar-sm.avatar-square + .badge-status {
    bottom: -0.25rem;
    right: -0.25rem;
}

.avatar.avatar-xs.avatar-square + .badge-status {
    bottom: -0.15rem;
    right: -0.15rem;
}

.status-available {
    background-color: var(--success-color);
}

.status-idle {
    background-color: var(--warning-color);
}

.status-busy {
    background-color: var(--error-color);
}

.status-offline {
    background-color: var(--gray);
}

.badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);

    width: max-content;
    height: max-content;

    position: absolute;
    line-height: 1;
    color: var(--bg-color);
}


.badge-primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.badge-secondary {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.round-pill {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.badge-icon {
    line-height: 1;
    font-size: 1.25rem;
}

.badge-status.badge-notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    border: none;
    left: 40%;
    bottom: 65%;
    font-size: 0.65rem;

    min-width: 1.25rem;
    min-height: 1.25rem;
    width: fit-content;
}