@import url('./Components/elixir.css');

/* grid-container */

.grid-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'navbar navbar navbar navbar navbar navbar'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main';
}

.navbar {
    background-color: var(--bg-color);
    grid-area: navbar;
    min-height: 10vh;
    z-index: 3;
    padding: var(--space-1) var(--space-2);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    gap:var(--space-0-75);
    font-size:var(--text-md);
}

/* .hamburger {
    margin-top: 0.175rem;
    margin-right: 1rem;
}

.hamburger-icon {
    width: 1.5rem;
    height: 0.18rem;
    background-color: var(--text-color);
    position: relative;
}

.hamburger-icon::after {
    width: 1.5rem;
    height: 0.15rem;
    content: '';
    position: absolute;
    top: -7px;
    background-color: var(--text-color);
}

.hamburger-icon::before {
    width: 1.5rem;
    height: 0.15rem;
    content: '';
    position: absolute;
    top: 7px;
    background-color: var(--text-color);
} */

.brand {
    gap: 0.5rem;
}

.brand:hover > .brand__name {
    color: var(--primary-color);
    opacity: 1;
}

.brand__logo {
    height:2.75rem;
    width: 2.75rem;
}

.brand__name {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    font-size: var(--text-md);
    font-weight: var(--weight-regular);
    color: var(--text-color);
    line-height: var(--line-ht-msd);
}

.main {
    padding: var(--space-2) var(--space-3);
    grid-area: main;
    place-items: start start;
    z-index: 1;
    overflow: hidden auto;
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: start;
    overflow: hidden auto;
    z-index: 2;
    box-shadow: var(--box-shadow);
    min-width: max-content;
}

aside::-webkit-scrollbar {
    width: 0.25rem;
}
   
aside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #172A3A2d;
}
   
aside::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.sidebar__head {
    padding: 0 var(--space-1-5);
    margin: var(--space-3-5) 0 var(--space-1);
}

.sidebar__nav li:hover {
    background-color:  var(--primary-bg-color);
}

.component-info {
    margin: var(--space-2) 0 var(--space-1);
    padding: var(--space-1) 0;
}

hr.component__separator {
    border: 2px solid var(--light-gray-color);
    width: 50%;
    margin: auto;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.section__sub {
    margin: var(--space-2) 0 var(--space-3);
}

.component-display {
    margin: var(--space-1) 0;
    padding: var(--space-1);
    border: 2px solid var(--light-gray-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.code-snippet-container {
    margin: var(--space-2) 0;
}

.code-display {
    margin-top: var(--space-0-5);
    width: 100%;
    max-height: 500px;
    padding: var(--space-0-5) 0;
    overflow: auto;
    border: 1px solid var(--primary-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
}
   
.code-display iframe{
    width: 100%;
    border: none;
}

.btn-floating {
    position: static;
}