@import url('/Components/elixir.css');


:root {
    --navbar-height: 10vh;
    --z-index-navbar: 2;
    --z-index-sidebar: 3;
    --bg-sidebar-color: #F8F8F8;
}

/* grid-container */
.grid-container {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-areas: 'sidebar navbar navbar navbar navbar navbar'
    'sidebar header header header header header'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main';
}

.navbar {
    background-color: var(--bg-color);
    grid-area: navbar;
    min-height: var(--navbar-height);
    z-index: var(--z-index-navbar);
    padding: var(--space-1) var(--space-2);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    gap: var(--space-1);
    font-size: var(--h);
}

.hamburger {
    display: none;
    margin-right: auto;
    gap: 5px;
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
    width: 1.5rem;
    height: 0.18rem;
    background-color: var(--text-color);
    position: relative;
}

.navlinks {
    gap: var(--space-1);
}

.navlink {
    line-height: 0;
}

.navlinks .icon-link {
    font-size:var(--text-md);
}

.icon-link {
    opacity: 0.8;
}

.link:hover {
    color: var(--primary-color);
    opacity: 1;
}

.link {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.header {
    grid-area: header;
    min-height: calc(100vh - var(--navbar-height));
    padding: var(--space-1);
    max-width: 100%;
}

.hero__img {
    max-height: 50vh;
    margin: 0;
}

.hero__head {
    max-width: max-content;
}

.main {
    padding: 0 var(--space-3);
    grid-area: main;
    position: relative;
    place-items: start start;
    overflow: hidden auto;
}

.docs__main {
    grid-row-start: 2;
}

.hero__button-container {
    gap: var(--space-1);
    max-width: 100%;
}
 
.home__main .link,
.hero__head .link,
.footer .text-link {
    font-size: inherit;
    display: inline;
    font-weight: inherit;
}

.footer .brand__name {
    font-size: inherit;
}

.home__main {
    min-height: calc(100vh - var(--navbar-height));
    padding: var(--space-5) var(--space-2-5);
    max-width: 90%;
    margin: 0 auto;
}

.home__main .heading,
.home__main .text {
    margin: 0;
}

article.content {
    padding: var(--space-1);
}

article.installation__content {
    margin-top: var(--space-1);
}

.documentation__reference {
    max-width: 100%;
    margin: var(--space-1) auto;
    gap: var(--space-1);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.documentation__reference .text__reference {
    flex: 1 1;
    margin: 0;
    padding: 0;
    line-height: initial;
}

.documentation__reference .btn {
    flex-basis: 0 0 20%;
    margin: 0;
}

.home__main .section__head {
    gap: var(--space-0-5);
    margin-bottom: var(--space-1);
    padding-bottom: var(--space-0-25);
    border-bottom: 2px solid var(--light-gray-color);
}

.section__head .brand__img {
    line-height: var(--line-ht-xs);
}

.home__main .section__lead {
    text-align: justify;
    margin: var(--space-0-5) auto;
    font-weight: var(--weight-md);
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: start;
    overflow: hidden auto;
    z-index: var(--z-index-sidebar);
    border-right: 0.25rem solid var(--primary-bg-color);
    max-width: 250px;
    width: 250px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.sidebar__header {
    position: sticky;
    padding: 0 var(--space-1-5);
    background-color: var(--bg-color);
    top: 0;
    min-height: 10vh;
    box-shadow: var(--box-shadow);
    gap: var(--space-1-5);
    justify-content: center;
}

.brand {
    gap: 0.5rem;
    width: max-content;
}

.brand:hover > .brand__name, .sidebar__close:hover,
.brand__name:hover {
    color: var(--primary-color);
    opacity: 1;
}

.brand__logo {
    height:2.5rem;
    width: 2.5rem;
    object-fit: cover;
}

.sidebar__close {
    display: none;
}

.brand__name {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.brand__name, .sidebar__close {
    font-size: var(--text-md);
    font-weight: var(--weight-regular);
    color: var(--text-color);
    line-height: var(--line-ht-msd);
}

.sidebar__list {
    padding-top: var(--space-2);
    overflow: auto;
}

.sidebar .sidebar__list li {
    padding: 0;
}

.sidebar .sidebar__list li a {
    padding: var(--space-1) var(--space-1-5);;
}

.sidebar__list::-webkit-scrollbar {
    width: 0.5rem;
}
  
.sidebar__list::-webkit-scrollbar-thumb {
    background-color: var(--light-gray-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.sidebar__list::-webkit-scrollbar-button {
    margin: var(--space-0-5) 0;
}

.sidebar__head {
    padding: 0 var(--space-1-5);
    margin: 0 0 var(--space-1);
}

.sidebar__nav li:hover {
    background-color:  var(--primary-bg-color);
}

.component-info {
    margin: var(--space-2) 0 var(--space-1);
    padding: var(--space-1) 0;
}

hr.component__separator {
    border: 2px solid var(--light-gray-color);
    width: 50%;
    margin: auto;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.section__sub {
    margin: var(--space-2) 0 var(--space-3);
}

.component-display {
    width: 100%;
    margin: var(--space-1) 0;
    padding: var(--space-1);
    border: 2px solid var(--light-gray-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    gap: var(--space-1);
}

.code-snippet-container {
    margin: var(--space-2) auto;
}

.home__main .code-snippet-container {
    margin: var(--space-1) 0;
}

.code-display {
    margin-top: var(--space-0-5);
    max-width: 100%;
    max-height: 500px !important;
    padding: var(--space-0-5) 0;
    overflow: auto;
    border: 1px solid var(--primary-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    overflow: auto;
    -o-border-radius: var(--br-5);
}

.code-display::-webkit-scrollbar {
    width: var(--space-0-5);
    height: var(--space-0-5);
}
  
.code-display::-webkit-scrollbar-thumb {
    background-color: var(--light-gray-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
}

.code-display::-webkit-scrollbar-button {
    margin: var(--space-0-5) 0;
}

section#typography .component-display > * {
    width: 100%;
}

section#card .code-display {
    width: max-content;
    max-width: 100%;
}

code.hljs {
    overflow: visible;
    max-width: 100%;
    width: 100%;
}

section#typography code.hljs {
    white-space: pre-wrap;
}

.emgithub-container {
    max-width: 100%;
    width: 100%;
}

.code-display iframe {
    width: 100%;
    border: none;
    overflow: scroll;
}

.btn-floating {
    position: static;
}

section#badge .component-display .badge {
    position: relative;
}

.docs__main section .section__sub-lead .btn-link {
    display: inline-flex;
}

section.images .component-display,
section.cards .component-display {
    justify-content: center;
}

section#toast .component-display .snackbar {
    position: static;
}

.toast__demo .snackbar {
    display: none;
}

.footer {
    background-color: var(--light-gray-color);
    max-height: max-content;
}

.footer .text-color {
    color: var(--primary-color);
    font-weight: var(--weight-xbold);
}

footer i {
    width: max-content;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 'navbar'
        'header'
        'main';
        position: relative;
    }

    .sidebar__header {
        justify-content: space-between;
    }

    .sidebar__close {
        display: inline-block;
    }


    .hamburger {
        display: flex;
    }

    .sidebar--open.sidebar {
        max-width: 100%;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-sidebar-color);
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        text-align: center;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .sidebar--close.sidebar {
        height: 0;
        top: 0;
        left: 0;
        width: 0;
        position: fixed;
    }
}


@media screen and (max-width: 450px) {
    code.hljs {
        white-space: pre-wrap;
    }
}