.input-group {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.text-label {
    font-size: var(--text-sm);
}

.text-label.flex--row {
    gap: var(--space-0-5);
}

.input-text, .input-textbox {
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    border: 1px solid var(--text-color);

    background-color: #fff;
    color: var(--text-color);

    font-size: var(--text-sm);
    font-weight: var(--weight-regular);
}

.input-inline .input-text {
    border: none;
    background-color: transparent;
    outline: none;
}

.input-inline .text-label {
    background-color: #ffffff;
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    border: 1px solid var(--text-color);
    flex-wrap: wrap;
}

.input-inline.input-default .text-label {
    border-color: var(--text-color);
}

.input-inline .input-text:focus {
    outline: none;
}

.textbox-group {
    flex-wrap: wrap;
    width: 100%;
}

textarea {
    max-width: 100%;
    resize: both;
}

.text-message {
    display: none;
    font-size: 0.8rem;
    font-weight: var(--weight-sbold);
}

.input-default .input-text,
.textbox-default .input-textbox,
.input-inline.input-default .text-label {
    border-color: var(--primary-color);
}

.input-success .input-text,
.textbox-success .input-textbox,
.input-inline.input-success .text-label {
    border-color: var(--success-color);
}

.input-error .input-text,
.textbox-error .input-textbox,
.input-inline.input-error .text-label {
    border-color: var(--error-color);
}

.input-warning .input-text,
.textbox-warning .input-textbox,
.input-inline.input-warning .text-label {
    border-color: var(--warning-color);
}

.input-error .text-message, 
.input-warning .text-message,
.input-success .text-message {
    display: inline-block;
   
}

.textbox-error .text-message, 
.textbox-warning .text-message,
.textbox-success .text-message {
    display: inline-block;
}

.input-error .text-message,
.textbox-error .text-message {
    color: var(--error-color);
}

.input-warning .text-message,
.textbox-warning .text-message  {
    color: var(--warning-color);
}

.input-success .text-message,
.textbox-success .text-message  {
    color: var(--success-color);
}

.input-text:focus,
.input-inline .text-label:focus-within {
    outline: var(--text-color) solid 0.1rem;
}

.input-default .input-text:focus,
.textbox-default .input-textbox:focus,
.input-inline.input-default .text-label:focus-within {
    outline-color: var(--primary-active-color);
}

.input-error .input-text:focus,
.textbox-error .input-textbox:focus,
.input-inline.input-error .text-label:focus-within  {
    outline-color: var(--error-color);
}

.input-warning .input-text:focus,
.textbox-warning .input-textbox:focus,
.input-inline.input-warning .text-label:focus-within  {
    outline-color: var(--warning-color);
}

.input-success .input-text:focus,
.textbox-success .input-textbox:focus,
.input-inline.input-success .text-label:focus-within  {
    outline-color: var(--success-color);
}

