.btn {
    /* Size properties */
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    min-width: 80px;
    height: max-content;

    /* Space properties */
    border: 2px solid var(--text-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
    
    /* Color properties */
    color: var(--bg-color);
    background-color: var(--text-color);

    /* Text properties */
    text-align: center;
    font-size: var(--text-reg);

    /* Cursor properties */
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-0-5) var(--space-0-75);
}

/* Button with outline and transparent background */
.btn.btn-outline {
    background-color: transparent;
    color: var(--text-color);
}

/* Button with icon only */
.btn.btn-icon {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: var(--text-md);
    min-width: max-content;
    min-width: max-content;
}

/* Button with link */
.btn.btn-link {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    font-weight: var(--weight-sbold);
    min-width: max-content;
    min-height: max-content;
}

/* Button that occupies entire width of parent */
.btn.btn-full-width {
    width: 100%;
}

/* General button hover when no theme specified */
.btn:hover {
    background-color: var(--text-active-color);
    border-color: var(--text-active-color);
    color: var(--bg-color);
}

/* General button with icon or link only hover when no theme specified */
.btn.btn-icon:hover {
    color: var(--text-active-color);
    background-color: transparent;
}

.btn.btn-link:hover {
    color: var(--bg-color);
    background-color: var(--text-active-color);
}

/* General outlined button hover when no theme specified */
.btn.btn-outline:hover {
    color: var(--bg-color);
}

/* Button with primary background color */
.btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Primary button hover */
.btn-primary:hover {
    background-color: var(--primary-active-color);
    border-color: var(--primary-active-color);
}

/* Button with secondary background color */
.btn-secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

/* Secondary button hover */
.btn-secondary:hover {
    background-color: var(--secondary-active-color);
    border-color: var(--secondary-active-color);
}

/* Primary outline button */
.btn-outline.btn-primary {
    color: var(--primary-color); 
}

/* Secondary outline button */
.btn-outline.btn-secondary {
    color: var(--secondary-color); 
}

/* Primary button icon */
.btn-icon.btn-primary {
    color: var(--primary-color);
}

.btn-primary.btn-icon:hover {
    color: var(--primary-active-color);
}

.btn-primary.btn-link:hover {
    background-color: var(--primary-active-color);
}

/* Secondary button icon */
.btn-icon.btn-secondary {
    color: var(--secondary-color);
}

.btn-secondary.btn-icon:hover {
    color: var(--secondary-active-color);
}

.btn-secondary.btn-link:hover {
    background-color: var(--secondary-active-color);
}

/* Floating button fixed to the right bottom */
.btn-floating {
    border-radius: var(--br-50);
    -webkit-border-radius: var(--br-50);
    -moz-border-radius: var(--br-50);
    -ms-border-radius: var(--br-50);
    -o-border-radius: var(--br-50);
    border: none;

    width: var(--space-3);
    height: var(--space-3);
    min-width: var(--space-3);
    min-height: var(--space-3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--bg-color);
    
    position: fixed;
    bottom: var(--space-2);
    right: var(--space-2);
}

/* Floating button hover */
.btn-floating:hover  {
    background-color: var(--primary-active-color);
    border-color: var(--primary-active-color);
}

/* The icon in button with text and icon */
.btn.btn-text-icon > .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-reg);
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.7;
}