@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

@import url('./space-utils/margin.css');
@import url('./space-utils/padding.css');
@import url('./alerts/alert.css');
@import url('./avatars/avatar.css');
@import url('./badges/badge.css');
@import url('./buttons/button.css');
@import url('./images/image.css');
@import url('./cards/card.css');
@import url('./input/input.css');
@import url('./typography/typography.css');
@import url('./lists/list.css');
@import url('./toast/toast.css');
@import url('./grid/grid.css');
@import url('./modal/modal.css');
@import url('./navigation/navigation.css');
@import url('./flex/flex.css');
@import url('./rating/rating.css');
@import url('./slider/slider.css');

:root {
    --text-color: #0d1c29;
    --text-active-color: #002d5a;
    
    --bg-color: #FAFAFA;
    --bg-card-color: #FFFFFF;

    --primary-color: #5c5ce0;
    --primary-active-color: #3d3dbb;
    --primary-bg-color: #d6d6ff;

    --secondary-color: #546E7A;
    --secondary-active-color: #2b3f49;

    --gray: #808080;
    --light-gray-color: #e0e0e0;
    --warning-color: #e98503;
    --error-color: #d6261c;
    --dull-success-color: #00814859;
    --success-color: #008148;
    --rating-color: #ffe400;

    --box-shadow: 0 0 10px #172a3a33; 
    --box-shadow-color: #172a3a33;

    --space-0-25: 0.25rem;
    --space-0-5: 0.5rem;
    --space-0-75: 0.75rem; 
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --space-4: 4rem;
    --space-4-5: 4.5rem;
    --space-5: 5rem;
    --space-5-5: 5.5rem;
    --space-6: 6rem;
    --space-6-5: 6rem;
    --space-7: 7rem;
    --space-7-5: 7.5rem;
    --space-8: 8rem;

    --br-50: 50%;
    --br-15: 15px;
    --br-10: 10px;
    --br-5: 5px;
    --br-4: 4px;
    --br-2: 2px;

    --d-inline-block: inline-block;

    --weight-light: 300;
    --weight-regular: 500;
    --weight-sbold: 600;
    --weight-bold: 700;
    --weight-xbold: 900;

    --text-xxl: 3rem;
    --text-xl: 2.5rem;
    --text-lg: 2rem;
    --text-md: 1.5rem;
    --text-sm: 1rem;
    --text-xs: 0.75rem;


    --line-ht-xxl: 4rem;
    --line-ht-xl: 3rem;
    --line-ht-lg: 2.5rem;
    --line-ht-md: 2rem;
    --line-ht-s: 1.5rem;
    --line-ht-xs: 1rem;

    --text: 1.25rem;
    --line-height: 1.25rem;
    --weight: 400;

    --h1: 3rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.75rem;
    --h5: 1.5rem;
    --h6: 1.25rem;

    --z-index-toast: 3;
    --z-index-badges: 1;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: var(--text-color);
}

*, *::after, *::before {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 100%;
}

a, i {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Image Utilities */

img,
picture,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    font-size: inherit;
    display: inline-block;
}

/* font utilities */
p,
div,
section,
aside,
footer,
header,
nav,
main {
    font-weight: var(--weight-regular);
    font-size: var(--text-sm);
    line-height: var(--line-ht-s);
}


a {
    font-weight: var(--weight-regular);
    font-size: inherit;
    line-height: var(--line-ht-s);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--weight-sbold);
}

h1 {
    font-size: var(--h1);
    line-height: var(--line-ht-xxl);
}

h2 {
    font-size: var(--h2);
    line-height: var(--line-ht-xl);
}

h3 {
    font-size: var(--h3);
    line-height: var(--line-ht-lg);
}

h4 {
    font-size: var(--h4);
    line-height: var(--line-ht-md);
}

h5 {
    font-size: var(--h5);
    line-height: var(--line-ht-s);
}

h6 {
    font-size: var(--h6);
    line-height: var(--line-ht-xs);
}

.navlink.active {
    border-bottom: 2px solid var(--primary-color);
}

.icon, i {
    pointer-events: none;
}

.section__head {
    margin-bottom: var(--space-0-5);
}

.section__lead {
    font-size: var(--text);
    font-weight: var(--weight);
    line-height: var(--line-ht-md);
}

.section__sub-head {
    font-weight: var(--weight-sbold);
    line-height: var(--line-ht-md);
    font-size: var(--text-md);
    margin-bottom: var(--space-0-5);
}

.section__sub-lead {
    font-weight: var(--text-weight);
}

.bold {
    font-weight: var(--weight-sbold);
}

@media screen and (min-width: 640px) {
    html {
        font-size: 75%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 80%;
    }
}

@media screen and (min-width: 960px)  {
    html {
        font-size: 100%;
    }
}

