.card {
    --overlay-bg: hsla(0, 0%, 88%, 0.6);
    background-color: var(--bg-card-color);
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
    border: 1px solid var(--primary-color);
}

.card-vertical {
    max-width: 300px;
    width: 100%;
    height: max-content;
}

.card-horizontal {
    max-height: 500px;
    position: relative;
    max-width: 100%;
}

.card-horizontal .card-main {
    display: flex;
}

.card-horizontal .card-header {
    height: auto;
    flex: 1;
    align-self: flex-start;
}

.card-horizontal .card-img {
    height: 100%;
    min-width: 100px;
}

.card-horizontal .card-content {
    align-self: center;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-shadow {
    box-shadow: 0 0 var(--space-0-75) var(--space-0-25) var(--box-shadow-color);
}

.card-main {
    position: relative;
}

.card-content {
    max-width: 100%;
    flex: 2;
}

.card-header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card.card-wt-badge .badge,
.card-wt-dismiss .btn-dismiss.btn {
    display: block;
    z-index: var(--z-index-badges);
}

.card .badge {
    top: 0;
    left: 0.5rem;
    display: none;
}

.btn-dismiss.btn {
    color: var(--text-color);
    top: 0;
    right: 0;
    display: none;
    position: absolute;
    width: max-content;
    height: max-content;
}

.card-img {
    width: 100%;
    object-fit: contain;
    
    border-top-left-radius: var(--br-5);
    border-top-right-radius: var(--br-5);
}

.card-body, .card-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-title, .card-subtitle {
    word-wrap: break-word;
}

.card-subtitle {
    color: var(--gray);
    font-size: var(--text-sm);
}

.card-description {
    width: 100%;
    font-size: 0.85rem;
}

.card-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 var(--space-1-5);
    flex-wrap: wrap;
}

.price-discounted, .price-original {
    font-weight: var(--weight-bold);
}

.percentage-discount {
    font-weight: var(--weight-regular);
}

.card-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--space-0-75);
    flex-wrap: wrap;
}

.card-footer .btn {
    height: max-content;
}

.overlay-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 50%;
    top: 50%;
    right: 50%;
    z-index: var(--z-index-badges);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--secondary-active-color);
    color: var(--light-gray-color);
    width: max-content;
    height: max-content;
    border-radius: var(--br-4);
    box-shadow: 0px 0px 1rem 0.5rem var(--box-shadow-color);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
}

.overlay-container .overlay {
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-bg);
    display: none;
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
}

.card-text-only .card-header {
    display: none;
}

@media screen and (max-width: 400px) {
    .card-horizontal {
        max-height: max-content;
        padding: 0;
    }
    
    .card-horizontal .card-main {
        flex-direction: column;
    }
    
    .card-horizontal .card-content {
        margin: 0;
    }
}