.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-gray-color);
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    min-width: 350px;
    max-width: 500px;
    position: relative;
    height: max-content;
}

.modal-container {
    border: 1px solid var(--text-color);
}

.modal-container {
    --modal-overlay: rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 4;
    background-color: var(--modal-overlay); 
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container.active-modal.active-modal {
    display: flex;
}

.modal-text {
    font-weight: var(--weight-sbold);
}

.modal-action-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:var(--space-0-75);
    flex-wrap: wrap;
}

.modal-action-buttons .btn {
    font-weight: var(--weight-md);
}

.btn-modal-close {
    position: absolute;
    right: var(--space-1);
    top: var(--space-0-5);
}

@media screen and (max-width: 480px) {
    .modal-content {
        min-width: 250px;
    }
}

@media screen and (max-width: 300px) {
    .modal-content {
        max-width: max-content;
        min-width: min-content;
    }

    .modal-container {
        flex-direction: column;
    }
}