.alert {
    /* Variables */
    --secondary-bg-color: #d2dee4;
    --warning-bg-color: #fce6cf;
    --error-bg-color: #ffd0d0;
    --success-bg-color: #a8fcd6;

    /*Size properties*/
    width: 100%;
    max-width: max-content;

    /*Flex properties*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-1);

    /*Text or Font properties*/
    word-wrap: break-word;

    /*Color properties*/
    background-color: var(--primary-bg-color);
    color: var(--primary-color);

    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);

    position: relative;
}

/* Alert variations */
.alert-primary {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    border-left: var(--br-5) solid var(--primary-color);
}

.alert-secondary {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    border-left: var(--br-5) solid var(--secondary-color);
}

.alert-warning {
    background-color: var(--warning-bg-color);
    color:  var(--warning-color);
    border-left: var(--br-5) solid var(--warning-color);
}

.alert-error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
    border-left: var(--br-5) solid var(--error-color);
}

.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
    border-left: var(--br-5) solid var(--success-color);
}

.alert-text {
    display: flex;
    flex-direction: row;
    gap: var(--space-0-5);
}

.alert-close .alert-text {
    margin-right: var(--space-2);
}

.alert-close .icon-close {
    position: absolute;
    right: var(--space-1);
    opacity: 0.7;
}

.alert .icon {
    font-size: var(--text-sm);
}

.alert-close .btn.icon-close {
    color: inherit;
}

.alert-close .btn.icon-close:hover {
    opacity: 1;
    color: inherit;
}
