<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alert Component</title>
        <link rel="stylesheet" href="../elixir.css">
    </head>
    <body>
        <div class="alert alert-primary">
            <p class="alert-text">This is a primary alert</p>
        </div>
        <div class="alert alert-secondary">
            <p class="alert-text">This is a secondary alert</p>
        </div>
        <div class="alert alert-success">
            <span class="icon icon-success">
                <i class="fas fa-check-circle"></i>
            </span>
            <p class="alert-text">This is a success alert</p>
        </div>
        <div class="alert alert-warning">
            <span>
                <i class="fas fa-info-circle"></i>
            </span>
            <p class="alert-text">This is a warning alert</p>
        </div>
        <div class="alert alert-error">
            <span>
                <i class="fas fa-bug"></i>
            </span>
            <p class="alert-text">This is an error alert</p>
        </div>
        <div class="alert alert-primary">
            <div class="alert-text">Primary with close icon</div>
            <span class="icon close-icon">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="alert alert-secondary">
            <div class="alert-text">Secondary with close icon</div>
            <span class="icon close-icon">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="alert alert-success">
            <div class="alert-text">Success with close icon</div>
            <span class="icon close-icon">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="alert alert-warning">
            <div class="alert-text">Warning with close icon</div>
            <span class="icon close-icon">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="alert alert-error">
            <div class="alert-text">Error with close icon</div>
            <span class="icon close-icon">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <script src="./script.js"></script>
    </body>
</html>